

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
PORT=4000
DATABASE_URL="postgresql://postgres:12345@localhost:5432/skillocraft-db?schema=public"
SESSION_SECRET="done"
GOOGLE_CLIENT_ID="done"
GOOGLE_CLIENT_SECRET=""
FACEBOOK_APP_ID="done"
FACEBOOK_APP_SECRET="done"
APPLE_CLIENT_ID="done"
APPLE_TEAM_ID="done"
APPLE_KEY_ID="done"
APPLE_PRIVATE_KEY_PATH="path/to/apple/private_key.p8 d"
JWT_SECRET="1226864987d99e932884656dc6b8eee9dfaf6f14144a57ed09f0335655786ee8"
JWT_REFRESH_SECRET="5684f6382ab82167cbadf2afb676785490d3318f7ac9fefddcb4e835d9a996d3"
VIDEO_UPLOAD_PATH="./uploads/videos"
# Image Upload Configuration
IMAGE_UPLOAD_PATH="./uploads/images"
API_BASE_URL="http://localhost:8000"
NODE_ENV="Development/Production"

FRONT_END_URL="https://skillocraft-front.onrender.com"

CLOUDINARY_CLOUD_NAME="dpv0bchq3"
CLOUDINARY_API_KEY="635268839248154"
CLOUDINARY_API_SECRET="D5u3NKs92mH3RH1dR1803cMd1Do"

DO_ACCESS_KEY=xxxxxxxxxxxx
DO_SECRET_KEY=xxxxxxxxxxxx
DO_BUCKET=skillo-s3
DO_REGION=sgp1
DO_SPACES_ENDPOINT=digitaloceanspaces.com
DO_BUCKET_URL=https://skillo-s3.sgp1.digitaloceanspaces.com
